---
title: "Track"
layout: toppage.hbs
---
{{>slideshow}}
<div class="m-content container">
    <div class="about">
        <h2>About Foco</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. </p>
        <a href="#" class="link-yellow">Find out more</a>
    </div>
    <div class="statistic">
        <div class="row">
            <div class="col-md-3"><span>10258</span><p>Shipments send per year</p></div>
            <div class="col-md-3"><span>4</span><p>Years of experience</p></div>
            <div class="col-md-3"><span>98%</span><p>Customers value Good services</p></div>
            <div class="col-md-3"><span>220</span><p>Countries served</p></div>
        </div>
    </div>
    <div class="service">
        <h2>Our services</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. </p>
        <div class="service-item">
            <ul>
                <li>
                    <h3>Foco Express > </h3>
                    <div class="service-content"><img src="" alt=""> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </div>
                </li>
                <li>
                    <h3>AIR FREIGHT ></h3>
                    <div class="service-content"><img src="" alt=""> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </div>
                </li>
                <li>
                    <h3>CUSTOMS BROKER > </h3>
                    <div class="service-content"><img src="" alt=""> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </div>
                </li>
                <li>
                    <h3>DOMESTIC EXPRESS ></h3>
                    <div class="service-content"><img src="" alt=""> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </div>
                </li>
                <li>
                    <h3>FOCO SHIP > </h3>
                    <div class="service-content"><img src="" alt=""> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </div>
                </li>
                <li>
                    <h3>CUSTOMS BROKER > </h3>
                    <div class="service-content"><img src="" alt=""> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="shipping-process">
        <h2 class="yellow">HOW TO FOCO SHIP</h2>
        <div class="row">
            <div class="sp-item col-md-4"><img src="" alt=""><div class="sp-title"><span class="sp-num">1</span> Get Information </div></div>
            <div class="sp-item col-md-4"><img src="" alt=""><div class="sp-title"><span class="sp-num">2</span> Pick up </div></div>
            <div class="sp-item col-md-4"><img src="" alt=""><div class="sp-title"><span class="sp-num">3</span> Packing </div></div>
            <div class="sp-item col-md-4"><img src="" alt=""><div class="sp-title"><span class="sp-num">4</span> Process </div></div>
            <div class="sp-item col-md-4"><img src="" alt=""><div class="sp-title"><span class="sp-num">5</span> Transit </div></div>
            <div class="sp-item col-md-4"><img src="" alt=""><div class="sp-title"><span class="sp-num">6</span> Delivery & send POD </div></div>
        </div>
    </div>



</div><!-- /.m-content -->
{{>testimonials}}
{{>faqs}}
{{>featurenews}}