<div class="faqs">
    <h2>FAQS</h2>
    <div class="row">
        <div class="col-md-6"><img src="" alt=""></div>
        <div class="col-md-6">
            <p> HOW MANY TIMES DO I HAVE TO TELL YOU A FEW DIFFERENT WAYS?<br/>

                WHAT IS DO I HAVE TO TELL YOU A FEW LOREM?<br/>

                HOW MANY DO I HAVE TO TELL YOU HAVE A?<br>
            </p>
            <a class="link-yellow" href="#">Find out more</a>
        </div>
    </div>
</div>