<div class="feature-news">
    <h2>Feature news</h2>
    <div class="row">
        <div class="fn-item col-md-3">
            <h4>Lorem ipsum dolor sit amet, consectetuer</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>
            <a href="#" class="yellow read-more">View more -></a>
        </div>
        <div class="fn-item col-md-3">
            <h4>Lorem ipsum dolor sit amet, consectetuer</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>
            <a href="#" class="yellow read-more">View more -></a>
        </div>
        <div class="fn-item col-md-3">
            <h4>Lorem ipsum dolor sit amet, consectetuer</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>
            <a href="#" class="yellow read-more">View more -></a>
        </div>
        <div class="fn-list col-md-3">
            <ul>
                <li><a href="#">Lorem ipsum dolor sit amet, consectetuer</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet, consectetuer</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet, consectetuer</a></li>
            </ul>
            <a href="#" class="link-yellow load-more"> More News</a>
        </div>
    </div>
</div>