<footer>
    <div class="footer-links">
        <div class="container">
            <div class="fl-list">
                <h4> Services </h4>
                <ul>
                    <li><a href="#" > FOCO Express </a> </li>
                    <li><a href="#" > Air Freight </a> </li>
                    <li><a href="#" > Customs Broker </a> </li>
                    <li><a href="#" > Domestic Express </a> </li>
                    <li><a href="#" > FOCO-SHIP </a> </li>
                </ul>
            </div>
            <div class="fl-list">
                <h4> Quick Access </h4>
                <ul>
                    <li><a href="#" > FOCO Home </a> </li>
                    <li><a href="#" > FOCO tracking </a> </li>
                    <li><a href="#" > Sitemap </a> </li>
                </ul>
            </div>
            <div class="fl-list">
                <h4> Services </h4>
                <ul>
                    <li><a href="#" > How to FOCO ship </a> </li>
                    <li><a href="#" > Get a quote </a> </li>
                    <li><a href="#" > Hotline </a> </li>
                    <li><a href="#" > FAQs </a> </li>
                </ul>
            </div>
            <div class="fl-list">
                <h4> Contact us </h4>
                <ul>
                    <li><a href="#" >Call us </a> </li>
                    <li><a href="#" > Email us </a> </li>
                    <li><a href="#" > Maps </a> </li>
                    <li><a href="#" > Terms and Conditions </a> </li>
                </ul>
            </div>
            <div class="fl-list">
                <h4> Connect to FOCO </h4>
                <ul>
                    <li><a href="#" > <img src="" alt=""> LinkedIn </a> </li>
                    <li><a href="#" > <img src="" alt=""> Facebook </a> </li>
                    <li><a href="#" > <img src="" alt=""> Youtube </a> </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="ft-bottom">
        <div class="container"><span class="company"><b>FOCO COMPANY LIMITED</b></span><span class="copyright pull-right">Copyright © 2017 FOCO Co., Ltd. All rights reserved</span></div>
    </div>
</footer>
<script src="../js/vendors.footer.lib.js?v=0.0.1"></script>
<script src="../js/app.js?v=0.0.1"></script>
</body>
</html>