<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">

    <title>{{ this.page.title }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../css/style.css?v=0.0.1">
    {{#if this.page.styleguide}}
        <link rel="stylesheet" href="../css/styleguide.css?v=0.0.1">
    {{/if}}
    <script src="../js/vendors.header.lib.js?v=0.0.1"></script>
</head>
<body>
<header id="header">
    <div class="container"> <div class="top-menu">
        <div class="menu-link"><ul><li><a href="#">Help Desk</a></li><li><a href="#">Extras</a></li><li><a href="#">Get A Quote</a></li></ul></div>
        <div class="social-link">
            <ul>
                <li><a href="#"  class="ico-fb">facebook</a></li>
                <li><a href="#" class="ico-tw">twitter</a></li>
                <li><a href="#" class="ico-gg">google</a></li>
                <li><a href="#" class="ico-in">linkedin</a></li>
            </ul>
        </div>
    </div>
        <div class="clr"></div>
        <div class="header-information">
            <ul>
                <li><div class="icon"><img src="/images/icon/ico_phone.gif" alt="Call us"></div><div><p>Call us on</p><p class="main-info">+84 944 484 584</p></div></li>
                <li><div class="icon"><img src="/images/icon/ico_mail.gif" alt="Mail us"></div><div><p>Mail us</p><p class="main-info"><a href="mailto:info@foco.com.vn">info@foco.com.vn</a></p></div></li>
                <li><div class="icon"><img src="/images/icon/ico_clock.gif" alt="Working Hours"></div><div><p>Working Hours</p><p class="main-info">Mon - Sat: 8:00 - 18:00</p></div></li>
            </ul>
        </div>
        <div class="clr"></div>
        <nav id="main-menu">
            <div class="mm-container">
                <ul>
                    <li><a href="#" class="active">Home</a></li>
                    <li><a href="#">services</a></li>
                    <li><a href="#">track and trace</a></li>
                    <li><a href="#">customer support</a></li>
                    <li><a href="#">about us</a></li>
                    <li><a href="#">news & event</a></li>
                    <li><a href="#">contact us</a></li>
                </ul>
                <div class="search-form"><input type="text" placeholder="Search Your Queries" value="" class="text-box" /> <input type="submit" class="btn-search"></div>
                <div class="clr"></div>
            </div>
        </nav></div>

</header>