<div id="slideshow" class="front">
    <div class="track-box container">
        <div class="track">
            <button>Track & Trace</button>
            <div class="input-field">
                <input class="text-box" type="text" placeholder="Enter your tracking number" />
            </div>
        </div>
        <div class="quote">
            <div class="input-field">
                <input class="text-box" type="text" placeholder="Destination" />
                <input class="text-box" type="text" placeholder="Weight" />
                <input class="text-box" type="text" placeholder="Document" />
            </div>
            <button>Get a Quote</button>
        </div>
    </div>
</div>