<div class="testimonials">
    <h2>WHAT PEOPLE SAY ABOUT US</h2>
    <img class="avt" src="" alt="">
    <div class="t-content">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
        <p class="sign"><span class="name">Michael Holberg</span><br/>
            CEO, Global Company Inc</p>
    </div>
</div>